
:root{
  --main: #ca38e0;
  --second: #ffffff;
  --third: rgb(246, 250, 145);
}

body{
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #ca38e0, #a81fed, #6a14ff)
}

.wrapper{
  z-index: 3;
  margin-top: 60px;
  margin-bottom: 150px;
  padding: 25px;  
  width: 400px;
  height: 400px;
  background-color: var(--second);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5)
}

.cards, .card, .view{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards .card .view{
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--third);
  border-radius: 5px;
  transition: transform 0.40s linear;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3)
}

.cards .card{
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  cursor: pointer;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.card.shake{
  animation: shake 0.35s ease-in-out;
}

@keyframes shake{
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translate(-13px);
  }
  40%{
    transform: translate(13px);
  }
  60%{
    transform: translate(-8px);
  }
  80%{
    transform: translate(8px);
  }
}

.cards{
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card .front span{
  color: var(--main);
  font-size: 43px;
}

.card .back{
  transform: rotateY(-180deg);
}

.card .back img{
  max-width: 45px;
}

.card.flip .front{
  transform: rotateY(180deg);
}

.card.flip .back{
  transform: rotateY(0);
}

footer {
  z-index: 4;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position:fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
}

footer a:hover {
color: #6a14ff;
}

@media (max-width: 1280px) {

  footer {
      padding: 10px;
  }

  footer a {
      margin: 5px;
  }
}

/* h1{
  justify-content: space-around;
  top: 0; 
  right: 0; 
  left: 0; 
  position: absolute; 
  text-align: center; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  letter-spacing: 5px; 
  font-weight:600; 
  color: white; 
  z-index: 4; 
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.9); 
  margin-bottom: 50px;
}

@media (min-width: 375px) {

  h1{
    font-size: 24px;
  }
}

@media (min-width: 430px) {

  h1{
    font-size: 50px;
  }
} */

.nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  justify-content: center;
  display: flex;
  top: 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
}
.nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 40px;
  text-shadow: 0 1px 5px #fff;
  transition: 0.55s ease;
}

.nav a:hover{
  background-image: linear-gradient(to bottom, #ca38e0, #a81fed, #6a14ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 5px var(--main);
}

.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  /* margin: 5px; */
  transition: 0.3s;
  justify-content: center;
  margin: 0 8px 0 8px;
  padding: 0 0 0 5px;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 100px;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

.credit {
  display: none;
  position: fixed;
  width: 290px;
  height: 354px;
  color: #fff;
  transition: 0.25s;
  cursor: pointer;
  top: 50%;
  left: 50%;
  z-index: 2000;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.credit.show {
  display: block;
  opacity: 1;
}

.credit::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ca38e0, #a81fed, #6a14ff);
  border-radius: 1.2em;
}

.credit::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ca38e0, #a81fed, #6a14ff);
  filter: blur(30px);
}

.credit span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 1em;
}

.credit span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.credit .content {
  position: fixed;
  padding: 3px;
  z-index: 10;
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  top: 25%;
  font-family: 'Titillium Web', sans-serif;
}

.credit a{
  border: 2px solid white;
  color: #fff;
  text-decoration: none;
  transition: 0.25s;
}

.credit a:hover{
  color: var(--main);
}